table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 40%; /* Ширина таблицы */
    text-align: center;
}


th {
    background: #fc0; /* Цвет фона ячейки */

}
td {
    background: #fff; /* Цвет фона ячеек */
}
th, td {
    border: 1px solid black; /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
}

table.edit,
table.edit th,
table.edit td {
    border: none;
    padding: 3px;
    text-align: left;
}
